* {
    font-family: 'Josefin Sans', sans-serif;
    font-size:  xx-large;
}

body {
    height: 100vh;
    /* border: 2px solid black; */
    background-color: rgb(163, 170, 174);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
    height: 500px;
    gap: 20px;
    align-items: center;
    /* border: 1px solid rgba(206, 206, 206, 0.63); */
    border-radius: 10px;
    
}
/* div {
    border: 2px solid black;
} */
.display {
    box-sizing: border-box;
    height: 155px;
    width: 95%;
    margin: 5px;
    color: rgb(97, 100, 87);
    padding-right: 10px;  
    display: flex;  
    flex-direction: column;
    overflow: visible;
}

.sub-display {
    width: 100%;
    height: 50px;
    text-align: center;
    color: rgb(97, 100, 87);
    font-weight: 400;
}

.main-display {
    width: auto;
    height: 100px;
    text-align: right;  
    font-weight: 600;
    font-size: 80px;
    color: rgb(97, 100, 87);
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.del-enter-buttons {
    gap: 10px;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 95%;
    align-self: center;
}


.clear-button, .equals-button {
    background-color: rgb(163, 170, 174);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 40px;
    height: 100%;
    text-align: center;
    /* border: 1px solid rgb(97, 100, 87); */
    border: none;
    margin-right: 5px;
    font-weight: 900;
    color: antiquewhite;

       
} 

.clear-button {
    padding-top: 5px;
}
.button-section {
    /* background-color: rgb(163, 170, 174); */
    border: none;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 300px;
    align-self: center;
    justify-content: center;
    
}

.buttons {
    background-color: rgb(163, 170, 174);
    display: flex;
    width: 85px;
    height: 50px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid rgb(97, 100, 87);
    border: none;
    padding-top: 7px;
    
    
}

.buttons:hover, .clear-button:hover, .equals-button:hover {
    cursor: pointer;
}

.buttons:active, .clear-button:active, .equals-button:active {
    box-shadow: 6px 6px 0px 0px rgba(0,0,0,0.75) inset;
}